@charset "UTF-8";

article, aside, footer, header, main, nav, section_left, section_right{
	display: block;
}

html, body, h1, h2, h3, ul, li, a, p, b, lis;
article, aside, footer, header, main, nav, section_left, section_right {
	padding: 0;
	margin:	0;
}

.banner {
	background-color: #02393C;
	color: white;
	padding: 5px 2px;
}

body {
	margin-left: 0px;
	margin-right: 0px;
	background-color: #A9A9A9;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
	text-align: center;
}

nav {
	background-color: white;
	padding: 5px;
	margin-top: 1px;
}

header {
	background-color: #EFEFEF;
    margin-left: 0px;
    color: black;
    text-align: left;
    padding-left: 25px;
}

li a {
	color: white;
}

li {
	display: inline;
	margin-left: 15px;
	margin-right: 15px;
	font-size: 20px;
	font-variant: small-caps;
	font-weight: bold;
	text-align: center;
}

section_left {
	background-color: #CAEBF2;    
	margin-top: 10px;
	margin-left: 50px;
	margin-right: 800px;
	padding: 5px;
	color: white;
	text-align: left;
}

section_right {
	background-color: black;
    width: 200;
	margin-top: 10px;
	padding: 5px;
	color: white;
	text-align: left;
    float: right;
}

article {
	background-color: #EFEFEF;
    color: black;
	margin-top: 5px;
	padding: 10px 5px;
}

main {
    width: auto;
	margin-bottom: 10px;
}

aside {
	background-color: #313131;
	width: 270px;
	float: right;
	padding: 20px;
	margin-top: 10px;
}

footer {
	clear: both;
	background-color: #02393C;
	color: white;
	padding: 5px 20px;
	text-align: center;
}

